#errorIcon {
    background-image : url(":/assets/images/fail-icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

#errorText {
    color : #58595b;
    font-family: 'Muli SemiBold';
    font-size : 28px;
}

